
.dropdowns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownWrapper {
    margin: 10px;
    padding: 15px;
}

.dropdownTitle {
    display: flex;
    flex-direction: column;
}

.dropdown {
    padding: 10px;
    margin: 15px;
}

.Country-form {
    display: flex;
    flex-direction: column;
}

.text-label {
    display: flex;
    flex-direction: column;
    
}

.input-boxes {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
}

.input-box {
    color: black;
}

.input-submit {
    padding:5px;
}

.state-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Register-form {
    display: flex;
    flex-direction: column;
}

.Register-inputLabel {
    margin: 10px;
}

.Register-input {
    margin: 10px;
}

.Login-form {
    display: flex;
    flex-direction: column;
}

.Popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10vmin;
    background-color: gray;
    opacity: 50%;
}

.Popup-text {
    text-align: center;
    background-color: white;  
    width: 60%;
    height: 50%;
    opacity: 100%;
    border-radius: 15px;
}

